@font-face {
    font-family: 'Suisse Intl';
    font-weight: 100;
    src: url('~@/assets/fonts/Suisse-Intl.woff') format('woff');
}
@font-face {
    font-family: 'Suisse Intl';
    font-weight: 100;
    src: url('~@/assets/fonts/Suisse-Intl.woff2') format('woff2');
}
