@font-face {
    font-family: 'Monument Grotesk';
    font-weight: normal;
    src: url('~@/assets/fonts/MonumentGrotesk-Regular.woff') format('woff');
    src: url('~@/assets/fonts/MonumentGrotesk-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Monument Grotesk';
    font-weight: bold;
    src: url('~@/assets/fonts/MonumentGrotesk-Medium.woff') format('woff');
    src: url('~@/assets/fonts/MonumentGrotesk-Medium.woff2') format('woff2');
}
