// Screen sizes
$screen-xs: 320px;
$screen-sm: 400px;
$screen-md: 980px;
$screen-lg: 1300px;
$screen-xl: 1920px;

$border-radius: 4px;
$color: red;
$size: 32px;



// Fonts
$font-sans-serif: 'Monument Grotesk', Avenir, Helvetica, Arial, sans-serif;
$font-serif: 'Margo', serif;

//Layout
$grid-space: .5em;